/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
  position: relative; }

.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.Select.is-disabled > .Select-control {
  background-color: #f9f9f9; }

.Select.is-disabled > .Select-control:hover {
  box-shadow: none; }

.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35; }

.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%; }

.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); }

.Select-control .Select-input:focus {
  outline: none; }

.is-searchable.is-open > .Select-control {
  cursor: text; }

.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9; }

.is-open > .Select-control .Select-arrow {
  top: -2px;
  border-color: transparent transparent #999;
  border-width: 0 5px 5px; }

.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text; }

.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1); }

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-right: 42px; }

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333; }

.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none; }

.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline; }

.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle; }

.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none; }

.is-focused .Select-input > input {
  cursor: text; }

.has-value.is-pseudo-focused .Select-input {
  opacity: 0; }

.Select-control:not(.is-searchable) > .Select-input {
  outline: none; }

.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px; }

.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle; }

.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px; }

.Select-clear-zone:hover {
  color: #D0021B; }

.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1; }

.Select--multi .Select-clear-zone {
  width: 17px; }

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px; }

.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
  position: relative; }

.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666; }

.Select--multi .Select-multi-value-wrapper {
  display: inline-block; }

.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left; }

@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 20 !important;
  -webkit-overflow-scrolling: touch; }

.Select-menu {
  max-height: 198px;
  overflow-y: auto; }

.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px; }

.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333; }

.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333; }

.Select-option.is-disabled {
  color: #cccccc;
  cursor: default; }

.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px; }

.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0; }

.Select--multi.has-value .Select-input {
  margin-left: 5px; }

.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top; }

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle; }

.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px; }

.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none; }

.Select--multi a.Select-value-label:hover {
  text-decoration: underline; }

.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px; }

.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6; }

.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24); }

.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333; }

.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3; }

.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc; }

@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }

html body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000; }
  html body a {
    color: #000; }
    html body a:hover, html body a:active, html body a:focus {
      color: #23527c; }

input {
  border: 1px solid #ddd; }

.Select-menu-outer {
  z-index: 100; }

.param_resul_list {
  display: flex;
  margin-bottom: 20px; }
  .param_resul_list .form-group {
    min-width: 200px;
    margin: 0 10px;
    text-align: center; }
  .param_resul_list .form-group.picker {
    min-width: auto; }

.month-picker input {
  padding: 7px;
  border: #aaa 1px solid;
  border-radius: 5px;
  margin-bottom: 0px; }

.month-picker:after {
  top: 12px !important; }

.op_none {
  margin-top: -20px;
  position: absolute;
  opacity: 0; }

.inp_div {
  margin-left: 2px;
  margin-bottom: 20px;
  cursor: pointer; }
  .inp_div input {
    cursor: pointer;
    width: 123px;
    height: 34px;
    margin-top: -27px;
    margin-left: -13px; }

.skin-postman .content-wrapper {
  background-color: #fff; }

.skin-postman .main-header .navbar {
  background-color: #ffe600; }

.skin-postman .main-header .navbar .nav > li > a {
  color: #000; }

.skin-postman .main-header .navbar .nav > li > a:hover, .skin-postman .main-header .navbar .nav > li > a:active, .skin-postman .main-header .navbar .nav > li > a:focus, .skin-postman .main-header .navbar .nav .open > a, .skin-postman .main-header .navbar .nav .open > a:hover, .skin-postman .main-header .navbar .nav .open > a:focus, .skin-postman .main-header .navbar .nav > .active > a {
  background: black;
  color: #ffe600; }

.skin-postman .main-header .navbar .sidebar-toggle {
  color: #000; }

.skin-postman .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1); }

.skin-postman .main-header .navbar .sidebar-toggle {
  color: #000; }

.skin-postman .main-header .navbar .sidebar-toggle:hover {
  background-color: #ffe600; }

@media (max-width: 767px) {
  .skin-postman .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1); }
  .skin-postman .main-header .navbar .dropdown-menu li a {
    color: #fff; }
  .skin-postman .main-header .navbar .dropdown-menu li a:hover {
    background: #ffe600; } }

.skin-postman .main-header .logo {
  background-color: #ffe600;
  color: #fff;
  border-bottom: 0 solid transparent; }

.skin-postman .main-header .logo:hover {
  background-color: #db8b0b; }

.skin-postman .main-header li.user-header {
  background-color: #ffe600; }

.skin-postman .content-header {
  background: transparent; }

.skin-postman .wrapper, .skin-postman .main-sidebar, .skin-postman .left-side {
  background-color: #1a1515; }

.skin-postman .user-panel > .info, .skin-postman .user-panel > .info > a {
  color: #fff; }

.skin-postman .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226; }

.skin-postman .sidebar-menu > li > a {
  border-left: 3px solid transparent; }

.skin-postman .sidebar-menu > li:hover > a, .skin-postman .sidebar-menu > li.active > a, .skin-postman .sidebar-menu > li.menu-open > a {
  color: #ffe600;
  background: black; }

.skin-postman .sidebar-menu > li.active > a {
  border-left-color: #ffe600; }

.skin-postman .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41; }

.skin-postman .sidebar a {
  color: #b8c7ce; }

.skin-postman .sidebar a:hover {
  text-decoration: none; }

.skin-postman .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af; }

.skin-postman .sidebar-menu .treeview-menu > li.active > a, .skin-postman .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff; }

.skin-postman .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px; }

.skin-postman .sidebar-form input[type="text"], .skin-postman .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px; }

.skin-postman .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px; }

.skin-postman .sidebar-form input[type="text"]:focus, .skin-postman .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666; }

.skin-postman .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff; }

.skin-postman .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0; }

header .logo {
  background: url("./logo.png") no-repeat;
  background-position: center; }
  header .logo .logo-mini {
    background: #ffe600;
    color: #000; }

.content {
  padding-top: 0; }

.section_title {
  margin-bottom: 20px; }

.btn-primary {
  background: #ffe600;
  border-color: #ffe600;
  color: #000; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #000;
    border-color: #ffe600;
    color: #ffe600; }

.btn-delete {
  border: 0;
  background-color: #ffe600;
  border-radius: 20px;
  padding: 7px 12px; }

.table {
  max-width: none; }
  .table tbody td > a {
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center; }

.table {
  text-align: center;
  vertical-align: middle; }
  .table tbody > tr > td, .table tbody > tr > th, .table tfoot > tr > td, .table tfoot > tr > th, .table thead > tr > td, .table thead > tr > th {
    text-align: center;
    vertical-align: middle; }

.btn-discard {
  background: #000;
  border-color: #000;
  color: #fff; }
  .btn-discard:hover, .btn-discard:active, .btn-discard:focus {
    border-color: #ffe600;
    color: #fff; }

.btn-filter {
  margin-bottom: 50px;
  font-weight: 600; }
  .btn-filter i {
    color: #ffe600; }

.loading-main {
  text-align: center;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10000; }
  .loading-main i {
    width: 30px;
    height: 30px;
    z-index: 10000;
    position: relative;
    top: 50%;
    background-color: transparent; }

.loading-login {
  position: relative;
  margin-top: -30px;
  margin-left: 45%; }

.login-box_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 1031; }
  .login-box_wrap .login-box-body {
    background: #f2f2f2; }
    .login-box_wrap .login-box-body .login-box-msg {
      font-size: 24px;
      color: #000;
      padding-bottom: 40px; }
    .login-box_wrap .login-box-body .btn_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px; }
      .login-box_wrap .login-box-body .btn_wrap > * {
        flex: 1 1 100px; }
      .login-box_wrap .login-box-body .btn_wrap .btn {
        max-width: 100px; }
    .login-box_wrap .login-box-body .forgotPass {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 12px;
      font-weight: 600; }

.table-hover > tbody > tr:hover {
  background-color: #fafafa; }

h5 {
  font-size: 15pt; }

#selectProjects {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px; }

select {
  margin-right: 10px;
  margin-left: 5px; }

.clientTable {
  background: #dadada; }

.isDeleted {
  color: red; }

.userList_wrap .table_overflow {
  overflow: auto;
  max-height: 600px; }

.userList_wrap .table thead th {
  font-weight: 600;
  white-space: nowrap; }

.userList_wrap .table .project_title {
  background: #d3d3d4; }

.userList_wrap .table .client {
  background: #dadada; }

.userList_wrap .table .projectTask_row:hover input {
  background: transparent; }

.userList_wrap .table .projectTask_row .track_time {
  border: none;
  outline: none;
  max-width: 70%; }

.userList_wrap .table .projectName_row:hover input {
  background: transparent; }

.userList_wrap .table .client_cell {
  background: #B3D6EB; }

.userList_wrap .table .project_cell {
  background: #B2D2CE; }

.userList_wrap .table .holiday_cell {
  background: #FFE2B2 !important;
  border-color: #FFE2B2 !important; }

.userList_wrap .table .deleted_cell {
  background: #dadada !important; }

.table > tbody > tr > .read-only {
  background-color: #f4f4f4; }
  .table > tbody > tr > .read-only input {
    background-color: #f4f4f4; }

table {
  border-collapse: unset !important; }

table.slo-table {
  width: auto; }

.slo-wrapper {
  padding: 5px;
  margin: 20px; }

.notice {
  color: red; }

.cerrectedTime {
  color: red;
  max-width: 10%; }

.positions_wrap .btn-add {
  float: right;
  margin-top: -50px;
  margin-bottom: 25px; }

.positions_wrap .table th, .positions_wrap .table td {
  vertical-align: middle; }

.positions_wrap .table th:nth-child(2),
.positions_wrap .table td:nth-child(2) {
  width: 650px; }

.addPositions_wrap .form_wrap, .addClient_wrap .form_wrap {
  max-width: 610px;
  margin: 0 100px; }

.addPositions_wrap .table th:nth-child(3),
.addPositions_wrap .table td:nth-child(3), .addClient_wrap .table th:nth-child(3),
.addClient_wrap .table td:nth-child(3) {
  width: 100px; }

.addPositions_wrap .btn_wrap, .addClient_wrap .btn_wrap {
  text-align: right; }
  .addPositions_wrap .btn_wrap .btn, .addClient_wrap .btn_wrap .btn {
    margin: 0 10px;
    margin-top: 15px; }

.popover_wrap {
  position: absolute;
  background-color: #EEE;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  border-radius: 3;
  padding: 10px;
  bottom: -40px;
  left: -15px;
  z-index: 1; }
  .popover_wrap .btn {
    width: 100%;
    margin: 5px 0; }

.popover_wrap_add {
  position: absolute;
  background-color: #EEE;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  border-radius: 3;
  padding: 10px;
  top: 0;
  left: calc(50% - 160px);
  width: 320px; }
  .popover_wrap_add .btn {
    width: 100%;
    margin: 5px 0; }

.users_wrap .btn-add {
  float: left;
  margin-bottom: 25px; }

.addUser_wrap .form_wrap {
  max-width: 610px;
  margin: 0 100px; }

.addUser_wrap #save, .addUser_wrap #discard {
  min-width: 190px; }

.addUser_wrap #discard {
  margin-left: 20px; }

.table_overflow table input.track_time:read-only {
  border: none;
  outline: none; }

.Select--multi .Select-value {
  background: #ffe600;
  border-radius: 10px;
  color: #000;
  font-size: 14px; }

.Select--multi .Select-value-icon {
  float: right;
  font-weight: 900;
  border: none; }

.close-popover {
  text-align: right;
  padding: 0 22px;
  margin-top: -7px;
  position: absolute;
  width: 100%; }
  .close-popover i {
    cursor: pointer; }

.month-picker {
  display: inline-block; }
  .month-picker > .container .popup.show {
    transform: translate3d(-15px, 0px, 0); }
  .month-picker:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 7px;
    border: 3px solid #000;
    border-top-color: #fff;
    border-left-color: #fff;
    transform: rotate(45deg); }
  .month-picker input {
    max-width: 125px;
    border: 1px solid #eff0f2;
    text-align: center;
    box-shadow: none; }

.table thead th {
  background-color: #fff; }

.table > tbody > tr > td > input {
  max-width: 55px; }

.table > tbody > tr > td {
  padding: 2px; }

.form-group.has-error .Select-control {
  border-color: #dd4b39;
  -webkit-box-shadow: none;
  box-shadow: none; }

.table td {
  background-color: #fff; }

.red {
  color: red; }

#fixed-table-container td:first-child {
  transform: translateX(-1px);
  align-items: center;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px; }
  #fixed-table-container td:first-child span {
    margin: 0 8px 0 0;
    cursor: pointer; }
    #fixed-table-container td:first-child span i.fa-minus-square {
      color: red; }

.monthpicker {
  padding-bottom: 10px; }

.result-table .group1 {
  background-color: #cc8c8c; }

.result-table .group2 {
  background-color: #729074; }

.result-table .group3 {
  background-color: #729074; }

.total td div {
  border-top: 1px solid #ddd; }

.result-table tr.other-direction td {
  background: #ececec; }

.result-table > tbody > tr.total > td {
  padding: 0; }

.edit-works input {
  width: 100%;
  border: 0;
  text-align: center;
  max-width: 100% !important; }

@media screen and (min-width: 768px) {
  .userList_wrap table {
    position: relative; } }

.skin-postman.sidebar-mini.sidebar-collapse .main-sidebar {
  width: 35px !important; }

button.save {
  border: 0;
  background-color: #ffe600;
  border-radius: 20px;
  padding: 7px 10px; }

.salary .date p {
  padding-top: 6px; }

.salary .salary-button button {
  margin-top: 25px; }

.salary-table td {
  border: none !important;
  text-align: left !important; }

.salary-table td:last-child {
  text-align: right !important; }

.salary-table input[type='number'] {
  height: 30px;
  max-width: 85px !important;
  padding: 1px 10px; }

.salary-table .monthPick td {
  padding-top: 2px; }
  .salary-table .monthPick td input {
    border-radius: 0 !important;
    height: 30px;
    padding: 0 10px;
    margin: 0;
    border-color: #ddd !important; }
  .salary-table .monthPick td .monthpicker {
    padding-bottom: 0; }

.salary-table tr.add-new td:first-child > div {
  cursor: pointer;
  display: inline-block; }
  .salary-table tr.add-new td:first-child > div i {
    color: #ffe600; }

.salary-table tr.add-new td > div {
  padding-top: 15px; }

.modal-dialog.salary-modal .close-additional-field i {
  position: absolute;
  cursor: pointer;
  margin-left: -20px;
  margin-top: 7px;
  z-index: 10; }

.modal-dialog.salary-modal .modal-footer {
  border: none;
  padding: 45px;
  padding-top: 0; }
  .modal-dialog.salary-modal .modal-footer button {
    padding: 5px 30px; }

.modal-dialog.salary-modal .modal-header {
  text-align: center;
  border-bottom: 0; }
  .modal-dialog.salary-modal .modal-header .close {
    margin-top: -5px; }

.modal-dialog.salary-modal .modal-body {
  padding: 15px 45px; }

.userList-tooltip {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  margin-left: 60px;
  margin-top: -50px;
  box-shadow: 2px 2px 10px #ddd; }

.worksection-import-p {
  margin: 10px 0; }

.worksection-import-bttn-holder > * {
  margin: 0 6px 0 0; }

.userList_wrap .table_overflow {
  margin: 0 0 20px; }

.month-picker:after {
  border-top-color: transparent;
  border-left-color: transparent; }

@media (min-width: 768px) {
  .modal-dialog.salary-modal {
    width: 400px; } }

table.types-table td:nth-child(3),
table.types-table td:nth-child(4) {
  max-width: 140px;
  width: 12%; }

.users_wrap .heading-block {
  position: relative;
  overflow: hidden; }
  .users_wrap .heading-block .btn-holder {
    float: right; }
  .users_wrap .heading-block label.check-label {
    float: left;
    max-width: 50%;
    margin: 15px 0 0;
    padding: 0 20px 0 0; }
    .users_wrap .heading-block label.check-label input[type="checkbox"] {
      display: none; }
    .users_wrap .heading-block label.check-label input[type="checkbox"] + span {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: -1px 14px 0 10px;
      vertical-align: middle;
      background: #eff0f2;
      cursor: pointer;
      border: 1px solid #d2d6de;
      border-radius: 2px;
      position: relative; }
      .users_wrap .heading-block label.check-label input[type="checkbox"] + span:before {
        content: "\f00c";
        font-family: FontAwesome;
        font-style: normal;
        display: none;
        font-weight: normal;
        text-decoration: inherit;
        color: #000;
        font-size: 10px;
        padding-right: 0.5em;
        position: absolute;
        top: -3px;
        left: 0; }
    .users_wrap .heading-block label.check-label input[type="checkbox"]:checked + span {
      background: #ffe600;
      border-color: #ffe600; }
      .users_wrap .heading-block label.check-label input[type="checkbox"]:checked + span:before {
        display: block; }

.users_wrap .text-input {
  float: left;
  border: 1px solid #d2d6de;
  border-radius: 2px;
  color: #000;
  margin: 0 16px 0 0;
  background: #fff url(search-icon.png) 94% 50% no-repeat;
  padding: 9px 28px 9px 13px;
  width: 239px;
  font: 12px/15px 'Open Sans', sans-serif; }

.users_wrap .text-input:focus {
  border-color: #ffe600; }

table.table th span.arrow-box {
  float: right;
  vertical-align: top;
  margin: -2px 0 0 -25px;
  padding: 0 12px 0 10px;
  color: #d2d6de; }
  table.table th span.arrow-box i.fa-sort-up {
    vertical-align: bottom;
    margin: 9px 0 -1px; }

table.table th.is-active {
  background: #ffe600; }
  table.table th.is-active span.arrow-box {
    color: #1a1515; }

.alert-success {
  z-index: 13;
  width: 293px;
  border: 1px solid #4caf50;
  border-radius: 4px;
  padding: 65px 10px 55px;
  position: absolute;
  margin: 0 0 0 -147px;
  left: 50%;
  top: 100px;
  background: #fff !important;
  text-align: center;
  color: #000 !important;
  font: 600 14px/18px 'Open Sans', sans-serif; }
  .alert-success:before {
    content: "\f058";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #4caf50;
    font-size: 60px;
    z-index: 3;
    position: absolute;
    top: 1px;
    left: 50%;
    margin: 0 0 0 -25px; }

.App {
  text-align: center; }

table tbody > tr.empty-row td {
  border: 0; }

.client-header > td {
  background-color: #f4f4f4; }

.client-header > td:first-child {
  background-color: #B3D6EB; }

span.Select-clear {
  position: absolute;
  top: 5px;
  margin-top: 3px;
  margin-right: 5px;
  right: 1px; }

.Select-arrow {
  position: absolute;
  top: 5px;
  margin-top: 10px;
  margin-right: 5px;
  right: 1px; }

.users_wrap .group1 td:nth-child(2) a {
  color: #c62828; }

.users_wrap .group2 td:nth-child(2) a {
  color: #388e3c; }

.users_wrap .group3 td:nth-child(2) a {
  color: #388e3c; }

.month-picker input {
  margin-bottom: -3px; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.table tbody > tr.empty-row:hover {
  background: white; }

select {
  height: 27px;
  border: solid 1px #ebe2e2; }

.slo-table {
  overflow: scroll; }

.color_a_exit {
  color: #ffe600; }

.bg_black_exit_a {
  background: black; }

.bg_black_exit_a:hover {
  cursor: pointer; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

.login-box-body {
  background-color: #dcdcdc; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

input.counter-input {
  max-width: 140px;
  margin: 0 0 0 40px; }

.param_resul_list {
  margin: 23px 0 0; }

.param_resul_list .popover_wrap {
  bottom: -67px;
  left: 0;
  z-index: 900; }

.param_resul_list .btn-save {
  margin: 0 0 0 10px; }

table.sga-table tr th:first-child {
  height: 100%; }
